body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    color: white;
}

h2 {
    color: #0400eb;
    margin-bottom: -5px;
}

.content {
    background-color: rgb(36, 36, 36);
    padding: 40px;
    border-radius: 20px 0px 0px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 1px 1px 3px #0400eb;
}

#matheus {
    width: 130px;
    border-radius: 20px 20px 0px 20px;
    margin-top: 0px;
}

img {
    width: 300px;
    margin-top: 10px;
}

a {
    display: block;
    text-decoration: none;
    color: #e300eb;
}

#project {
    margin-bottom: 8px;
}
